<meta name="viewport" content="width=device-width;
  initial-scale=1;" />

@media (max-width: 320px) {

}

iframe {
  padding-bottom: 5em;
  margin-left: 3.5em;
}

#title-article {
  font-size: 90px;
}

#Jolie {
  padding-top: 200px;
  font-size: 90px;
}

#container {
  margin-left: 260px;
  float: none;
}

#container2 {
  margin-left: 260px;
  float: none;
}

.education {
  font-size: 40px;
}

.navigation {
  font-size: 40px;
}

.umtv {
  padding-top: 0;
}

.basketball-analyst {
  font-size: 40px;
}

#sportsdesk {
  font-size: 100px;
}

#fast-forward {
  font-size: 40px;
  padding-bottom: .05em;
}
